body{background:url(ipn_instituto_politeÌcnico_nacional.webp);
    font-size:large;
    
    
}

p{ 
    color: white;
}
h1, h2, h3{
    text-align: center;
    color: white;
}s



a, image{
    display: block;
}

